
.RegisterForm__form_contianer {
	flex-direction: column;
	width: 100vw;
  	align-items: center;
	  justify-content: center;
	  z-index: 100;
	  position: relative;
}

.RegisterForm {
	width: 400px;
	margin: 0 auto;
	width: 80vw;
	z-index: 100;
}

/* .register_button {
	width: 100%; 
	padding: 15px;
	font-size: 15px;
	background-color: rgb(112, 39, 161);
	color: white;
	border-radius: 5px;
	border: 0px solid white;
	margin-top: 10px; 
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.733);
} */

/* .register_button:hover {
	color: orange;
  } */

/* .register_button:disabled {
	background-color: rgb(147, 122, 163);
} */

#file-upload_label {
	color: black;
	margin-top: 10px;
}

.registration__container {
	padding-top: 20px;
}

.registration__validation_box{
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: white;
}

.validation_rules {
	margin: 0px;
	font-size: 15px;
	color: rgb(112, 39, 161);
}