h1 {
	color: rgb(112, 39, 161);
	font-size: 40px;
	margin: 0 auto;
	z-index: 1;
	position: relative;
	width: auto;
	text-align: center;
	display: block;
}

.LoginPage {
	min-width: 100vw;
	max-height: 100vh;
	padding: 20px;
}

.bg_image{
	z-index: 0;
	position: fixed;
	opacity: .1;
	top: 0px;
	left: 0px;
	object-fit: cover;
	height: 100vh;
	width: 100vw;
}



