.EditPost__form_container {
	flex-direction: column;
	width: 300px;
  	align-items: center;
	justify-content: center;
	background-color:white;
	margin: 0 auto;
}

.EditPost__form {
	width: 300px;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 40px;
  }

.EditPost__select, 
.EditPost__option,
.EditPost__button {
	font-size: 15px;
	padding: 8px;
	width: 100%;
	border-radius: 0px;
	cursor: pointer;
  }

  .EditPost__select{
	font-size: 15px;
	padding: 8px;
	width: 100%;
	border: none;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 2px rgba(214, 214, 214, 0.63) solid;
  border-radius: 2px;
  }

  .EditPost__select:hover {
    border-color: orange;
}

.EditPost__textarea {
	width: 100%;
	height: 250px;
	resize: none;
	margin-top: 10px;
	font-size: 15px;
	border-radius: 10px;
	border: 2px rgba(214, 214, 214, 0.63) solid;
	padding: 10px;
	margin-bottom: 30px;
  }

  .EditPost__textarea:hover{
    border-color: orange;
  }

  .EditPost__button {
	width: 100%; 
	padding: 15px;
	font-size: 15px;
	background-color: rgb(112, 39, 161);
	color: white;
	border-radius: 5px;
	border: 0px solid white;
	margin-top: 10px; 
	font-weight: bold;
	cursor: pointer;
  }

  .EditPost__button:hover {
	color: orange;
  }
  
p {
	color: white;
}