
html {
  background-color: rgba(214, 214, 214, 0.856);
}

.App {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:  white;
  z-index: 0;
}

.App__header {
  background-color: white;
  color: black;
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App__header a {
  color:black;
}

.App__main {
  background-color: white;
  height: 100%;
  margin-bottom: 80px;
  display: inline-block;
  z-index: 0;
}

.following {
  position: relative;
}
.notifications {
  color: red;
  position: absolute;
  right: 0px;
  top: -5px;
}

.icons {
  color: white;
}

.home, .logout, .folder, .account, .discover, .following, .sticky-note {
  background-color: transparent;
  border: none;
  color: black
}

.page_title_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page_title {
  margin: 0 auto;
  padding: 10px;
}