
.Post {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  background-color: #eee;
  color: #cacaca;
  width: 90vw;
  padding: 15px;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.733);
}

.Post__edit_button {
  background-color: transparent;
  border: 0;
  color: black;
  float: right;
  font-size: 12px;
  padding:0px;
}

.Post__edit_button:hover {
  color: orange;
}

.Post__delete_button {
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 20px;
  height: 20px;
  padding:0px;
}

.Post__delete_button:hover {
  color: orange;
}

.Post__edit_button a {
  color: black;
  text-decoration: none;
}

.Post__title {
  margin: 0px 0px 10px;
  font-size: 15px;
}

.Post__title a {
  color: rgb(112, 39, 161);
  display: block;
  text-decoration: none;
}
.Post__title a:hover {
  color: orange;
}

.Post__info {
  color: black;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: auto;
}

.Post__visibility{
  font-weight: bold;
  margin: 0px;
}

.Post__buttons_container{
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
