.discover_ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding-bottom: 80px;
  padding-left: 0px;
  margin: 0 auto;
}

.discover_li {
  display: flex;
  text-decoration: none;
  color: black;
  width: 100%;
}

.connection_name {
  font-size: 20px;
  color: white;
  margin: 0px;
  margin-top: 10px;
}

.approve_button {
  position: relative;
  border: none;
  border-radius: 0px;
  background-color: black;
  color: white;
  padding: 0px;
}

.discover_follow_button {
  position: relative;
  border: 2px solid rgb(112, 39, 161);
  border-radius: 50%;
  background-color: rgb(112, 39, 161);
  color: white;
  margin: 0px;
  height: 30px;
  width: 30px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  box-shadow: none;
}

.discover_follow_button:hover {
  background-color: orange;
  border: orange;
  color: white;
}

.user_visibility {
  color: black;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
