.following_ul, .request_ul {
	padding: 0px;
	margin: 0 auto;
}

.following_li, .request_li {
	color: black;
}

.following_ul, .request_ul {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	width: 100vw;
}

.following_ul {
	padding-bottom: 80px;
}

.following_li {
	/* padding-bottom: 80px; */
}

.following_li, .request_li {
	display: flex;
	/* flex-direction: row; */
	/* height: 200px; */
	text-decoration: none;
	/* flex-basis: 50%; */
}

.following_box, .request_box {
	color: black;
	background-color: #eee;
	/* border: #eee solid 2px; */
	margin: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 80px;
	width: 100%;
	padding: 10px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgba(128, 128, 128, 0.733);
}

.request_box {
	/* background-color: orange; */
}

.connection_name {
	font-size: 20px;
	font-weight: 500;
	color: rgb(112, 39, 161);
	margin: 5px;
	margin-top: 0px;
}

.unfollow_button {
	position: relative;
	border: 2px solid rgb(112, 39, 161);
	border-radius: 50%;
	background-color: #eee;
	color: black;
	/* width: 100%; */
	margin: 0px;
	height: 30px;
	width: 30px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

.approve_button {
	position: relative;
	border: 2px solid rgb(112, 39, 161);
	border-radius: 50%;
	background-color: rgb(112, 39, 161);
	color: white;
	/* width: 100%; */
	margin: 0px;
	height: 30px;
	width: 30px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

/* .unfollow_button:active {
	position: relative;
	border: none;
	border-radius: 5px;
	background-color: red;
	color: white;
} */

.unfollow_button:hover {
	background-color: orange;
	border: orange;
	color: white;
}
/* .approve_button:active {
	position: relative;
	border: none;
	border-radius: 5px;
	background-color: green;
	color: white;
} */
.approve_button:hover {
	background-color: orange;
	border: orange;
	color: white;
}

.profile_img {
	position: relative;
	left: 10px;
}

.following_section_headers {
	margin: 0px 20px;
	font-size: 25px;
	font-weight: 500;
	color:  black;
}

.following_page_avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}