
.PostsList ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px;
  padding-bottom: 80px;
}

.PostsList__add-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 50px;
}

.PostsList__add-button {
  display: flex;
  font-size: 40px;
  color: black;
}

.AddPost_button {
  
}